/= form_for @feed, method:confirm  do |f|
/= form_for [ :confirm, @feed ] do |f|
= form_for @feed do |f|
  - if @feed.errors.any?
    #error_explanation
      %h3= "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      %ul
        - @feed.errors.full_messages.each do |msg|
          %li= msg

  /%p#notice= notice
  /%p#notice= alert
  %p#error= alert
  .field
    = f.label :url
    = f.text_field :url, :size => 1024, :value => "http://"
    /= f.text_field :url, :size => 1024
    /= f.submit, render :partial => "confirm" , :class => 'btn btn-primary'
    /= f.submit nil, :class => 'btn btn-primary', render :partial => "confirm"
  .actions
    /= render :action => "confirm", :layout => false
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), "/", :class => 'btn'
    /= render :partial => "confirm"
