- model_class = Feed
%p#notice= notice
.page-header

%h3 登録フィード記事一覧
%p
  %b Title:
  = @feed.title
%p
  %b Url:
  = @feed.url
%p
  %b Feed url:
  = @feed.feed_url
%p
  %b Category:
  = @feed.category_id
%p
  %b Last modified:
  = @feed.last_modified

-#- @feeds.each do |feed|
  %p
    %b Title:
    = feed.title
  %p
    %b Url:
    = feed.url
  %p
    %b Feed url:
    = feed.feed_url
  %p
    %b Category:
    = feed.category_id
  %p
    %b Last modified:
    = feed.last_modified


%br
= link_to t('.edit', :default => t("helpers.links.edit")), edit_feed_path, :class => 'btn btn-primary'
= link_to t('.destroy', :default => t("helpers.links.destroy")), feed_path, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
= link_to t('.cancel', :default => t("helpers.links.cancel")), "/" , :class => 'btn'
%br
%br

= render :file => 'layouts/common/feed_entry'
