!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "NONE,NOARCHIVE", :name => "robots"}
    %meta{:name => "viewport", :content => "width=device-width"}
    = csrf_meta_tag
    /= stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "rails_admin/rails_admin.css", :media => :all
    /= javascript_include_tag "application"
    = javascript_include_tag "rails_admin/rails_admin.js"

  /%body.rails_admin
  %body
    #loading.label.label-warning{:style => 'display:none; position:fluid; right:20px; bottom:20px; z-index:100000'} Loading...
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") feedman
          .container.nav-collapse
            %ul.nav
              - if admin_user_signed_in?
                /%li.right
                /%li= link_to "トップ", "/"
                %li= link_to "登録フィード一覧", "/feeds"
                %li= link_to "カテゴリー一覧", "/categories"
                %li= link_to "ダッシュボード", "/admin"
                %li
                  %a(href="/admin_users/sign_out" data-method="delete" rel="nofollow")
                    %span(class="label label-important")Log out


    .container-fluid

      %h1
        %a{:href => "/"}
          feedman
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list= main_navigation
            %ul.nav.nav-list= static_navigation
        /.span9
        .span9
          .row-fluid
            /.content= render :template => 'layouts/rails_admin/pjax'
            .content{:'data-pjax-container' => true}= render :template => 'layouts/rails_admin/pjax'
            /= bootstrap_flash
            /= yield
