%p#notice= notice

%p
  %b Feed:
  = @entry.feed_id
%p
  %b Title:
  = @entry.title
%p
  %b Url:
  = @entry.url
%p
  %b Summary:
  = @entry.summary
%p
  %b Published at:
  = @entry.published_at

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Back', entries_path
