/- @entries.each do |entry|
/.container-fluid
/.span-one-third
/.row-fluid.feed-entry
%div(align="center")
  = paginate @entries, :window => 2, :outer_window => 2

.div.feed-entry
  - @entries.each do |entry|
    .div
      /.span3.square
      %p
        %font(size="3px")
          %img{:src => 'http://www.google.com/s2/favicons?domain='+entry.feed.url+''}
          = link_to entry.feed.title, entry.feed
          |
          /= link_to content_tag(:span, entry.title[0..32]) + '...', entry.url, :target=>["_blank"]
          = link_to content_tag(:span, entry.title), entry.url, :target => ["_blank"]
          %br
          /= link_to entry.feed.url.gsub(/^https?:\/\/(.*?)\/?$/, '\1')[0..100] + '...', entry.feed
          /= link_to entry.summary[0..64] + '...', entry.url, :target=>["_blank"]
          = link_to entry.summary, entry.url, :target => ["_blank"]
          %br
          %font(size="1px")
            = entry.published_at

%div(align="center")
  = paginate @entries, :window => 2, :outer_window => 2
