%div(align="center")
  = paginate @entries, :window => 2, :outer_window => 2

%div.feed-entry
  - @entries.each do |entry|
    %div{:id => entry.id}
      %p
        %font(size="3px")
          -#%img{:src => 'http://www.google.com/s2/favicons?domain='+entry.feed.url+''}
          %img{:src => 'http://www.google.com/s2/favicons?domain='+entry.url+''}
          = link_to entry.feed_title, entry.feed
          -#= link_to @feeds.id, entry.feed
          -#= link_to @entries.title, entry.feed
          |
          = link_to content_tag(:span, entry.title[0..32]) + '...', entry.url, :target=>["_blank"]
          %br
          = link_to entry.summary + '...(続きを読む)', entry.url, :target => ["_blank"]
          %br
          %font(size="1px")
            = entry.published_at
          -#%span(style="display:none;")
            = entry.id

%div(align="center")
  = paginate @entries, :window => 2, :outer_window => 2
